nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    background-color: #131921;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  

}


nav .nav-part1 {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.nav-part1 .left a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-part1 .left a p{
    position: relative;
    right: 10px;
    bottom: 3px;
}
.nav-part1 .left .nav-logo {
    height: 50px;
    width: 120px;
}


.nav-part1 .left .nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-part1 .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.nav-part1 .left .nav-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nav-part1 .line-1 {
    font-size: 0.79rem;
    color: #cccccc;

}

.nav-part1 .line-2 {
    border: none;
    background-color: #131921;
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 700;
}


.nav-part1 .left .nav-location .locatin-icon {
    margin-top: 8px;
}

.nav-part1 .left .nav-location .address {
    margin-right: 2px;

}

.nav-part1 .nav-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 620px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-part1 .nav-search select {
    border: none;
    font-size: 14px;
    width: 72px;
    height: 40px;
    background-color: #e6e6e6;
    color: #0f1111;
    margin: 0 auto;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    padding: 0px 5px;
}

.nav-search input[type="text"] {
    border: none;
    font-size: 13px;
    width: 100%;
    height: 40px;
    outline: none;

}

.nav-part1 .search-box {
    width: 52px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color: #F3A847;
    color: black;
    font-weight: 500;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

nav form:hover {
    border: 3px solid #FF9900;
    background-color: #F3A847;
}

.nav-part1 span {
    display: block;
}

.nav-part1 .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 22px;
    gap: 20px;
}

.nav-part1 .right .account-types {
    margin: 0 auto;
    
}

.nav-part1 .right .nav-cart {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-part1 .right .nav-cart .icon {
    font-size: 2.4rem;
    font-weight: normal;
}

.nav-part1 .right .nav-cart .cart {
    margin-bottom: -10px;
    font-size: 0.8rem;
    font-weight: normal;
}

.number-of-item {
    padding: 0px 0px;
    font-size: 12px;
    color: #F3A847;

}

/* start nav-part2  */

.nav-part2 {
    background-color: #232F3E;
    width: 100%;
    display: flex;
    height: 40px;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
    margin-top: 60px;
}

a {
    color: #fff;
}

.nav-part2 .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

}

.nav-part2 .left i {
    font-size: 1.5rem;

}

.nav-part2 .shop-container {
    min-width: 547px;
    width: 100%;
}

.nav-part2 .shop-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-part2 .shop-link li a {
    font-size: 1rem;
    padding: 8px 10px;
}

.nav-part2 .right {
    text-decoration: none;
    color: #fff;

}

.nav-part2 .right .right-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}