section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;
    padding: 0 14px;
    color: #000;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.grid {
    width: 100%;
    min-height: 100vh;
    display: grid;
    background-color: #FFFFFF;
    grid-template-columns: .2fr 1fr;
}

label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

.grid .filter {
    padding-bottom: 59px;
    margin-top: 100px;
    text-justify: justify;
    background-color: #FFFFFF;

}

.grid .product-grid {

    background-color: #FFFFFF;
}

.grid ul {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid ul .box {
    position: relative;
    width: 25vw;
    height: 75vh;
    background-color: #F7F7F7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;

}

/* .grid ul .box .product-img{
} */
.grid ul .box .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid ul .box h3 {
    margin-top: 10px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
}

.grid ul .box .price {
    margin-top: 8px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 1.2rem;
}

.grid ul .box p {
    margin-top: 20px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 0.8rem;
}

.grid ul .box button {
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #3f3f3f;
    cursor: pointer;
    background-color: aquamarine;
}

/* serch products start */
.filter-box {
    margin: 0 auto;
    width: 20%;
}

.filter-box label {
    padding: 12px 18px;
}

.filter-box input {
    padding: 4px 8px;
    margin-left: 20px;
    border-radius: 3px;
    font-size: 1.2rem;
    border: 2px solid rgb(32, 31, 31);
}

.same-brands {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
}


/* Filter options start  */
.filter-page {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.filter-page h3 {
    margin-bottom: 10px;
}

.brand-name {
    color: #000;
}

.filter-page .price {
    cursor: pointer;
}

.color-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;

}

.color-filter .box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
}

.color-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.hover:hover {
    color: red;
    cursor: pointer;
}

form .serch-box {
    padding: 12px 15px; 
    margin-left: -20px;
    margin-top: -20px;
    outline: 2px solid #dadada; 
    border-radius: 3px;
    font-size: 1.2rem;
    /* border: 2px solid rgb(32, 31, 31); */
}