/* home page start  */

#home {
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95)), url(https://demo.htmlcodex.com/1011/developer-portfolio-template/img/hero-bg.jpg);
    padding: 80px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro {
    height: calc(100vh - 5rem);
    width: 100%;
    margin: 0 auto;
    max-width: 75rem;
    overflow: hidden;
    position: relative;
    padding: 0 2rem;
}


.bg {
    position: absolute;
    top: -80px;
    right: 0;
    padding-top: 8rem;
    object-fit: cover;
    height: 100vh;
    z-index: 1;
    padding: 0 -8rem;
}

/* .home-page .right img:hover {
    transform: scale(1.2);
} */

.intro-contatnt {
    position: absolute;
    margin: 75px 0;
    color: #ffffff;
    height: 100vh;
    width: 100vh;
    top: 25vh;
    z-index: 2;

}

.intro-contatnt p {
    font-family: "Poppins", sans-serif;
    font-size: 1.57rem;
    font-weight: 600;

}

.intro-contatnt h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

.intro-contatnt h2 {
    font-size: 2.3rem;
    color: #fff;
    font-weight: 400;
    margin: 5px 0;
}


.intro-contatnt .btn-gurup button {
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 25px;
    font-size: 0.9rem;
    color: #ef233c;
    background: #fff;
    margin-top: 22px;
    margin-bottom: 22px;
    border: 1px solid rgba(256, 256, 256, .5);


}

.btn-gurup button:hover {
    background-color: var(--color-bg-parimary);
    color: var(--color-white);
    /* border: 2px solid var(--color-white); */
    border: 2px solid white;
}


@media (max-width : 500px) {
    .logo {
        font-size: 1.5rem;
    }

    .bg {
        left: -7rem;
        top: -5rem;
    }

    .intro-contatnt {
        top: 35vh;
        padding: 0;
    }

    .btn-gurup button {
        font-size: 1.5rem;
        padding: 12px 15px;
    }


    .intro-contatnt h1 {
        font-size: 10vw;
        font-weight: 700;
    }


    .intro-contatnt p span {
        font-size: 1.8rem;
    }

    .intro-contatnt h2 {
        font-size: 10vw;
    }
}



@media (max-width: 900px) {

    /* home page style  */
    .bg {
        right: -10rem;
        top: -5rem;
    }

    .intro-contatnt {
        top: 35vh;
    }

    .intro-contatnt h1 {
        font-size: 10vw;
        font-weight: 700;
    }

    .intro-contatnt p {
        font-size: 1.5rem;
        font-family: Tahoma, sans-serif;

    }
}


@media screen and (max-width:912px) {
    .bg {
        left: 1rem;
    }

    .left {
        text-align: left;

    }

}


@media screen and (max-width:1024px) {
    .intro {
        padding: 0 3rem;
    }

}