.product-con {
    margin-top: 5rem;
    width: 100%;
    min-height: 100vh;
    color: #333;
    background-color: #FFFFFF;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.product-con .box {
    position: relative;
    width: 25vw;
    height: 75vh;
    background-color: #F7F7F7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.product-con .box .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-con .product-des{
    position: relative;
    width: 45vw;
    height: 75vh;

}
.product-con .product-des h3 {
    /* margin-top: 10px; */
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 4rem;
}

.product-con .product-des .price {
    margin-top: 8px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 1.8rem;
}


.product-con .product-des .detail {
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 2rem;
}


  button {
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 2px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #3f3f3f;
    cursor: pointer;
    background-color: aquamarine;
}

.product-grid ul {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product-grid ul .box {
    position: relative;
    width: 25vw;
    height: 75vh;
    background-color: #F7F7F7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;

}
.product-grid ul .box h3 {
    margin-top: 10px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
}

.product-grid ul .box .price {
    margin-top: 8px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 1.2rem;
}


