
#about {
  overflow: hidden;
  background-color: #FFFFFF;
}

.about_me {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;

}

.about_me .box {
  position: relative;
  width: 50%;
  height: 100vh;

}


.about_me .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.about_me #intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #101010;
  padding: 0 2vw;

}

.about_me #intro h2 {
  font-size: .8rem;
  letter-spacing: 1.6px;
  color: #EF233C;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.about_me #intro h1 {
  font-size: 4.5vw;
  color: #414141;
  margin: 10px 0 10px;
}

.about_me #intro p {
  font-stretch: ultra-condensed;
  padding: 1rem 0;
  line-height: 1.4;
  font-size: 1rem;
  margin: -8px 0 0px;
  color: #798385;
  font-weight: 500;
}

.about_me #intro .cv-btn a {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 15px 25px;
  background-color: #EF233C;
  color: #fff;
  cursor: pointer;
  margin: -8px 0 0;
  font-size: 0.7rem;


}

.about_me #intro .cv-btn a:hover {
  background-color: white;
  color: red;
  border: 1.1px solid #EF233C;

}


/* for mobile devices  */


@media (max-width:600px) {
  .about_me {
    margin-top: 8vh;
    flex-direction: column;
    padding: 0 1vw;
  }

  .about_me .box {
    width: 100%;
    height: 100vh;
  }
 .about_me #intro{
  padding: 5vw 2vw;
 }
}