.home-container{
    margin-top: 100px;
    width: 100%;
    height: 600px;
    background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/img22/Wireless/devjyoti/GW/Uber/Nov/D103625178_DesktopTallHero_3000x1200._CB574597993_.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}