/* start footer section  */
footer {
    margin-top: 25px;
    background: #ef233c;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    font-size: 1.1rem;
    height: 348px;
    width: 100%;
    background-color: #ef233c;
  
  }
  
  .footer-container .container {
    width: 100%;
    margin: 0 62px;
    padding: 0 15px;
  }
  
  .footer-container .footer-info {
    width: 100%;
    text-align: center;
  
  }
  
  .footer-container .footer-info .footer-contact {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .footer-container .footer-info .footer-contact p:nth-of-type(1) {
    padding-right: 10px;
    border-right: 1.2px solid white;
  }
  
  .footer-contact p {
    font-weight: 700;
  }
  
  .footer-container .footer-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  
  }
  
  .footer-container .footer-info h3 {
    text-align: center;
    margin: 0px 0px 25px;
    font-size: 20px;
    font-weight: 700;
  
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
  
  
  
  }
  
  .footer-social i {
    height: 24px;
    color: white;
    font-weight: 700;
  
  }
  
  .copyright {
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1.1px solid;
  
  }
  
  .copyright p {
    margin: 0;
    color: #fff;
  
  }